.neno-canvas {
  width: 120px;
  height: 150px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  pointer-events: none;
  z-index: 500;
  cursor: default;
}

.neno-canvas canvas {
  display: block;
  width: 100%;
  height: 100%;
}
